# file to ignore in commit

.directory
# ignore hidden file
.*
# conformation file
*.xyz *.r
# object folder
obj
LEAD
LEAD_tmp
LEAD_field
# input folder
input
# output folder
output
# data folder
data
